#container{
  border: 1px dotted #d2d2d2;
  width:100%;
  min-height: 1400px;
  background-color: #fff;
}

#top_line{
  width: 85%;
  height: 0.5em;
  background-color: green;
}

#top_menu_container{
  display: flex;
  justify-content: space-around;
  width: 85%;
  padding: 35px;
}

#slogan{
  width: 70%;
}

#barra_pesquisa{
  width: 15%;
  height: 30px;
}

#pesquisa{
  border-style: none;
  border-bottom: 1px solid #d2d2d2;
  outline: none;
}

#main{
  border: 1px dotted black;
  width: 85%;
  min-height: 1000px;
  display: flex;
  justify-content: space-between;
}

#conteudo{
  width: 75%;
  min-height: 1000px;
  border: 1px dotted #d2d2d2;
}

#menu_direita{
  width: 25%;
  min-height: 1000px;
  border: 1px dotted #d2d2d2;
}

#footer{
  border: 1px dotted black;
  width: 85%;
  min-height: 350px;
  margin-top: 150px;
}
