#container{
  border: 1px dotted white;
  width:100%;
  min-height: 1400px;
  background-color: #ae3333;
}

#top_line{
  width: 85%;
  height: 0.5em;
  background-color: green;
}

#top_menu_container{
  display: flex;
  justify-content: space-between;
  width: 85%;
}

#slogan{
  flex: 2;
}

#contacts_menu{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#main{
  border: 1px dotted white;
  width: 85%;
  min-height: 1000px;
}
