#container{
  border: 1px dotted #d2d2d2;
  width:100%;
  min-height: 1400px;
  background-color: #fff;
}

#top_line{
  width: 85%;
  height: 0.5em;
  background-color: green;
}

#top_menu_container{
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding: 35px;
}

#slogan{
  flex: 2;
}

#contacts_menu{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#main{
  border: 1px dotted black;
  width: 85%;
  min-height: 1000px;
}

#footer{
  border: 1px dotted black;
  width: 85%;
  min-height: 350px;
  margin-top: 150px;
}
